// Colors
$color-green: #76c659;
$color-blue: #6abbdc;
$color-yellow: #deb60c;
$color-orange: #ff521b;
$color-white: #f9f9f9;
$color-black: #222;

$color-background: $color-white;
$color-text: $color-black;

// Responsive sizes
$size-thresholds: (
    wide: 1920px,
    desktop: 1366px,
    tablet: 768px,
    mobile-large: 425px,
    mobile: 320px
);
