@import './helpers';

.page-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20vh rem(14px) rem(14px);

  @include respond-from(mobile-large) {
    padding-top: rem(14px);
    align-items: center;
  }
}

.page-header {
  text-align: center;

  > .title {
    text-shadow: rem(2px) rem(2px) rgba($color-bright, 0.2);
    font-size: rem(28px);
    text-transform: uppercase;
    letter-spacing: rem(0.4px);

    @include respond-from(mobile-large) {
      font-size: rem(38px);
    }
  }

  > .subtitle {
    @include text-gradient(
      120deg,
      $color-blue 10%,
      $color-green 35%,
      $color-yellow 70%,
      $color-orange 110%
    );

    display: inline-block;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(15px);
    background-size: 500% 100%;
    animation: subtitle-gradient 40s ease infinite;

    @include respond-from(mobile-large) {
      font-size: rem(20px);
    }
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin: rem(12px) 0 0;
  padding: 0;

  @include respond-from(mobile-large) {
    margin-top: rem(20px);
  }

  > .item {
    margin-left: rem(8px);
    list-style-type: none;

    &:first-child {
      margin-left: 0;
    }
  }
}

.social-link {
  display: inline-block;
  height: 24px;
  width: 24px;
}

@keyframes subtitle-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
